In [2]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style='dark')

from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.model_selection import StratifiedKFold, KFold

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor,ExtraTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor,BaggingRegressor, StackingRegressor

from sklearn.preprocessing import StandardScaler, LabelEncoder

from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_squared_log_error, r2_score
from sklearn.metrics import make_scorer
import os

In [5]:
# to increase no. of rows and column visibility in outputs
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [6]:
# to see all the comands result in a single kernal 
%load_ext autoreload
%autoreload 2
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [7]:
train = pd.read_csv('./data/Housing Train dataset.csv')
train.shape

(1991, 11)

In [8]:
train.head()

  POSTED_BY  UNDER_CONSTRUCTION  RERA  BHK_NO.    SQUARE_FT  READY_TO_MOVE  RESALE  ADDRESS  LONGITUDE   LATITUDE  TARGET(PRICE_IN_LACS)
0    Dealer                   0     0        2   944.881890              1       1    Undri  18.452663  73.931040                   42.0
1    Dealer                   1     1        2  1020.087884              0       1    Wakad  18.599300  73.762500                   65.0
2    Dealer                   0     1        2  1058.114928              1       1      Sus  18.539812  73.737678                   65.0
3    Dealer                   1     0        1   400.000000              0       1  Kharadi  18.543800  73.943800                   30.0
4    Dealer                   0     1        3  2293.077091              1       1  Kharadi  18.543800  73.943800                  210.0

In [9]:
train['POSTED_BY'].value_counts()

Dealer     1532
Owner       434
Builder      25
Name: POSTED_BY, dtype: int64

In [10]:
train['UNDER_CONSTRUCTION'].value_counts()

0    1608
1     383
Name: UNDER_CONSTRUCTION, dtype: int64

In [11]:
train['RERA'].value_counts()

0    1165
1     826
Name: RERA, dtype: int64

In [12]:
train['BHK_NO.'].value_counts()

2    1012
3     498
1     380
4      87
5      11
8       2
6       1
Name: BHK_NO., dtype: int64

In [13]:
train['READY_TO_MOVE'].value_counts()

1    1608
0     383
Name: READY_TO_MOVE, dtype: int64

In [14]:
train['RESALE'].value_counts()

1    1892
0      99
Name: RESALE, dtype: int64

In [15]:
train['ADDRESS'].value_counts().head(10)

Baner       101
Wagholi      79
Kharadi      78
Hadapsar     71
NIBM         71
Wakad        71
Moshi        58
Undri        56
Balewadi     56
Ravet        55
Name: ADDRESS, dtype: int64

In [16]:
df1 = train[(train['SQUARE_FT'] < 8000) & (train['SQUARE_FT'] > 100) & (train['BHK_NO.'] < 6)]

In [17]:
df1.drop(['LONGITUDE','LATITUDE','POSTED_BY'],axis=1,inplace=True)

C:\Users\Henil\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [18]:
train.shape,df1.shape

((1991, 11), (1975, 8))

In [19]:
df1.head()

   UNDER_CONSTRUCTION  RERA  BHK_NO.    SQUARE_FT  READY_TO_MOVE  RESALE  ADDRESS  TARGET(PRICE_IN_LACS)
0                   0     0        2   944.881890              1       1    Undri                   42.0
1                   1     1        2  1020.087884              0       1    Wakad                   65.0
2                   0     1        2  1058.114928              1       1      Sus                   65.0
3                   1     0        1   400.000000              0       1  Kharadi                   30.0
4                   0     1        3  2293.077091              1       1  Kharadi                  210.0

In [20]:
df1.ADDRESS = df1.ADDRESS.apply(lambda x : x.strip())
location_stats = df1.groupby('ADDRESS')['ADDRESS'].agg('count').sort_values(ascending=False)
location_stats

C:\Users\Henil\anaconda3\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

ADDRESS
Baner                                                98
Wagholi                                              79
Kharadi                                              77
Wakad                                                71
NIBM                                                 71
Hadapsar                                             70
Moshi                                                58
Balewadi                                             56
Undri                                                56
Ravet                                                55
Hinjewadi                                            51
Pimple Saudagar                                      43
Punawale                                             39
Keshav Nagar                                         35
Kalyani Nagar                                        31
Tathawade                                            28
Kondhwa                                              28
Bavdhan                                              28
Shankar Kalat Nagar                                  27
Mohamadwadi                                          26
Chakan                                               25
Sinhgad Road                                         23
Lohegaon                                             22
Pashan                                               20
Kothrud                                              19
Wanowrie                                             17
Pisoli                                               17
Aundh                                                17
Magarpatta                                           17
Dhayari                                              16
Mahalunge                                            15
Sus                                                  14
Eon Free Zone                                        13
Dhanori                                              13
Narhe                                                13
Chikhali                                             13
Rahatani                                             12
Koregaon Park                                        11
Pimple Nilakh                                        11
Kaspate Vasti                                        11
Chinchwad                                            11
Wanwadi                                              10
Viman Nagar                                          10
Baner Pashan Link Road                               10
Handewadi                                             9
Prabhat Road                                          7
Dighi                                                 7
Ambegaon                                              7
Bhumkar Nagar                                         7
Hinjewadi Phase 1                                     7
Katraj Kondhwa Road                                   7
Anand Nagar                                           7
Ambegaon Budruk                                       7
Model Colony                                          7
Pandhari Nagar                                        6
Warje                                                 6
Mhada Colony                                          6
Ambegaon Bk                                           6
Kate Wasti                                            6
Manjari Khurd                                         6
Pimpri Chinchwad                                      6
Sukhsagar Nagar                                       6
Pirangut                                              5
Kiwale                                                5
Erandwane                                             5
Pimple Gurav                                          5
Marunji                                               5
Manjri                                                5
Bhekrai Nagar                                         5
Mamurdi                                               5
Karve Nagar                                           5
Pune Mumbai Highway                                   5
Vishrantwadi                                          5
Tulaja Bhawani Nagar                                  5
Thergaon                                              5
Akurdi                                                5
Wadgaon Sheri                                         5
Tingre Nagar                                          5
Somatne Phata                                         4
Wadgaon Budruk                                        4
Kedari Nagar                                          4
Sainath Nagar                                         4
Katraj                                                4
Siddartha Nagar                                       4
Kondhwa Budruk                                        4
Talegaon Dabhade                                      4
Phase-3 Hinjewadi                                     4
Phursungi                                             4
Laxman Nagar                                          4
Charholi                                              4
Loni Kalbhor                                          4
Dhankawadi                                            4
Rajaram Patil Nagar                                   4
Dhayari Phata                                         3
Tukaram Nagar                                         3
Kunj Colony                                           3
Pingale Wasti                                         3
Meeta Nagar                                           3
Baner-Sus                                             3
Pimpri                                                3
Sopan Baug                                            3
St Tukaram Nagar                                      3
Chovisawadi                                           3
Lullanagar                                            3
Madhav Nagar                                          3
Udyog Nagar                                           3
Manjari Budruk                                        3
Rambaug Colony                                        3
Shivane                                               3
Bhusari Colony                                        3
Shewalewadi                                           3
Senapati Bapat Road                                   3
Alandi                                                3
Gokul Nagar                                           3
Bhugaon                                               3
Yerwada                                               3
Dattawadi                                             3
Ganesh Nagar                                          3
Karpe Nagar                                           3
Market yard                                           3
Talegaon                                              3
Bhawani Peth                                          3
Ambegaon Pathar                                       3
Nigdi                                                 3
B.T Kawade Road                                       3
New Sanghvi                                           3
Thite Nagar                                           2
Mayur Colony                                          2
Manjri BK                                             2
Maji Sainik Nagar                                     2
Shastri Nagar                                         2
Digambar Nagar                                        2
Wakad Annexe                                          2
Adarsh Nagar                                          2
Guruvar Peth                                          2
Kale Padal                                            2
Ghorpadi                                              2
Warje Malwadi                                         2
Wakhari                                               2
Kesnand                                               2
Lonikand                                              2
Kirkatwadi                                            2
Vadgaon Sheri                                         2
Anand Park                                            2
Uruli Kanchan                                         2
Meera Nagar                                           2
Dudulgaon                                             2
Kutwal Colony                                         2
Hinjewadi Phase 2                                     2
Mhasoba Nagar                                         2
Dahanukar Colony                                      2
Shaniwar Peth                                         2
Shahunagar                                            2
Bhosale Nagar                                         2
Sector No-4 Moshi                                     2
Bhukum                                                2
Shikrapur                                             2
Sasane Nagar                                          2
Bibwewadi                                             2
Sangamvadi                                            2
Sai Nagar                                             2
Rajgurunagar                                          2
Bhandarkar Road                                       2
Balewadi Phata                                        2
Shivaji Nagar                                         2
Mundhwa                                               2
Bakori                                                2
Nandel Fata                                           2
Balaji Nagar                                          2
Nanekarwadi                                           2
Dobarwadi                                             1
Aundh Gaon                                            1
Boat Club Road                                        1
Bijlinagar                                            1
Bibwewadi Kondhwa Road                                1
Fursungi                                              1
Gahunje                                               1
Ganesh Mala                                           1
Garmal                                                1
Ganga Nagar                                           1
Dhole Patil Road                                      1
Bhunde Vasti                                          1
Daund                                                 1
Bhosari                                               1
Deccan Hills                                          1
Hanuman Nagar                                         1
Hingne Khurd                                          1
Bhim Nagar                                            1
Bopodi                                                1
Borhade Wadi                                          1
Dangat Patil Nagar                                    1
Bund Garden                                           1
Ashoka Nagar                                          1
Dange Chowk                                           1
Clover Park                                           1
Chitanya Nagar                                        1
Ashok Nagar                                           1
Bankar Vasti                                          1
Baramati                                              1
Bebadohal                                             1
Bekrai Nagar                                          1
Benkar Nagar                                          1
Eknath Pathare Vasti                                  1
Anthon Nagar                                          1
Anand Park Nagar                                      1
Datta nagar kiwale                                    1
Dhairy Goan Raikar Mala                               1
Dattanagar                                            1
Charholi Kurd                                         1
Bhatewara Nagar                                       1
Camp                                                  1
Fatima Nagar                                          1
Forest Trail Bhugaon                                  1
Badhan Nagar                                          1
phursungi bhekrai nagar                               1
Honda showroom near                                   1
ICS Colony                                            1
Shreehans Nagar                                       1
Shree Datta Colony                                    1
Shivtirth Nagar                                       1
Shivramnagar                                          1
Shivraj Nagar                                         1
Shivneri Nagar                                        1
Shivneri Colony                                       1
Shindewadi                                            1
Shikshaknagar                                         1
Shedge Vasti                                          1
Shankar Nagar                                         1
Sector-6 Moshi                                        1
Sathe Vasti Lohegaon                                  1
Sathe Nagar                                           1
Satav Nagar                                           1
Satar Nagar                                           1
Saswad                                                1
Sasane Colony                                         1
Sanghvi                                               1
Sanewadi                                              1
Sanaswadi                                             1
Siddharth Nagar                                       1
Somatane                                              1
Somnath Nagar                                         1
Uttareshwar Nagar                                     1
bibwewadi pune                                        1
band garden road                                      1
ZAGADE WASTI                                          1
Yewalewadi                                            1
Wireless Colony                                       1
Vishnupuram Colony                                    1
Vikas Nagar                                           1
Vadgaon Budruk                                        1
Vadgaon                                               1
Uruli Kanchan Irrigation Colony Near Pune Solapur     1
Sudarshan Nagar                                       1
Unnati Dham                                           1
Ubale Nagar                                           1
Tukai Nagar                                           1
Tinhewadi Road                                        1
Tilekar Nagar                                         1
Tamhini Ghat                                          1
Talawade                                              1
Swaraj Nagari                                         1
Swar Gate                                             1
Sanas Nagar                                           1
Sai Nagar Park                                        1
Sadhu Vaswani Nagar                                   1
Kasar Amboli                                          1
Mahadev Nagar Manjari Bk                              1
Mahadev Nagar                                         1
Law College Road                                      1
Koregaon Park Annexe                                  1
Koregaon Mul                                          1
Kharalwadi                                            1
Khadki Bazar                                          1
Khadki                                                1
Kasarwadi                                             1
Karve Road                                            1
Malinagar                                             1
Karanjawane Wasti                                     1
Kamshet                                               1
Kalyani Nagar Annexe                                  1
Kalewadi                                              1
Kad Nagar                                             1
Jyotiba Colony                                        1
Jijai Nagar                                           1
Jambhul                                               1
Indira Nagar                                          1
Mahalunge Ingale                                      1
Mallik Nagar                                          1
Sadashiv Peth                                         1
Pandhare Wasti                                        1
Renuka Nagar                                          1
Rasta Peth                                            1
Ramkrishna Paramhans Nagar                            1
Ram Nagar                                             1
Raghav Nagar                                          1
Paud Road                                             1
Paud Gaon                                             1
Parvati Gaon                                          1
Paranjape Blue Ridge                                  1
Panchawati                                            1
Manjari                                               1
North Hadapsar                                        1
Nighoje                                               1
Nehru Nagar                                           1
Nana Peth                                             1
Nageshwar Nagar                                       1
Mohan Nagar                                           1
Midc Baramati                                         1
Medankarwadi                                          1
chinchwad                                             1
Abasaheb Raikar Nagar                                 1
Name: ADDRESS, dtype: int64

In [21]:
len(location_stats[location_stats <10])

267

In [22]:
location_stats_less_than_10 = location_stats[location_stats <10]
location_stats_less_than_10

ADDRESS
Handewadi                                            9
Prabhat Road                                         7
Dighi                                                7
Ambegaon                                             7
Bhumkar Nagar                                        7
Hinjewadi Phase 1                                    7
Katraj Kondhwa Road                                  7
Anand Nagar                                          7
Ambegaon Budruk                                      7
Model Colony                                         7
Pandhari Nagar                                       6
Warje                                                6
Mhada Colony                                         6
Ambegaon Bk                                          6
Kate Wasti                                           6
Manjari Khurd                                        6
Pimpri Chinchwad                                     6
Sukhsagar Nagar                                      6
Pirangut                                             5
Kiwale                                               5
Erandwane                                            5
Pimple Gurav                                         5
Marunji                                              5
Manjri                                               5
Bhekrai Nagar                                        5
Mamurdi                                              5
Karve Nagar                                          5
Pune Mumbai Highway                                  5
Vishrantwadi                                         5
Tulaja Bhawani Nagar                                 5
Thergaon                                             5
Akurdi                                               5
Wadgaon Sheri                                        5
Tingre Nagar                                         5
Somatne Phata                                        4
Wadgaon Budruk                                       4
Kedari Nagar                                         4
Sainath Nagar                                        4
Katraj                                               4
Siddartha Nagar                                      4
Kondhwa Budruk                                       4
Talegaon Dabhade                                     4
Phase-3 Hinjewadi                                    4
Phursungi                                            4
Laxman Nagar                                         4
Charholi                                             4
Loni Kalbhor                                         4
Dhankawadi                                           4
Rajaram Patil Nagar                                  4
Dhayari Phata                                        3
Tukaram Nagar                                        3
Kunj Colony                                          3
Pingale Wasti                                        3
Meeta Nagar                                          3
Baner-Sus                                            3
Pimpri                                               3
Sopan Baug                                           3
St Tukaram Nagar                                     3
Chovisawadi                                          3
Lullanagar                                           3
Madhav Nagar                                         3
Udyog Nagar                                          3
Manjari Budruk                                       3
Rambaug Colony                                       3
Shivane                                              3
Bhusari Colony                                       3
Shewalewadi                                          3
Senapati Bapat Road                                  3
Alandi                                               3
Gokul Nagar                                          3
Bhugaon                                              3
Yerwada                                              3
Dattawadi                                            3
Ganesh Nagar                                         3
Karpe Nagar                                          3
Market yard                                          3
Talegaon                                             3
Bhawani Peth                                         3
Ambegaon Pathar                                      3
Nigdi                                                3
B.T Kawade Road                                      3
New Sanghvi                                          3
Thite Nagar                                          2
Mayur Colony                                         2
Manjri BK                                            2
Maji Sainik Nagar                                    2
Shastri Nagar                                        2
Digambar Nagar                                       2
Wakad Annexe                                         2
Adarsh Nagar                                         2
Guruvar Peth                                         2
Kale Padal                                           2
Ghorpadi                                             2
Warje Malwadi                                        2
Wakhari                                              2
Kesnand                                              2
Lonikand                                             2
Kirkatwadi                                           2
Vadgaon Sheri                                        2
Anand Park                                           2
Uruli Kanchan                                        2
Meera Nagar                                          2
Dudulgaon                                            2
Kutwal Colony                                        2
Hinjewadi Phase 2                                    2
Mhasoba Nagar                                        2
Dahanukar Colony                                     2
Shaniwar Peth                                        2
Shahunagar                                           2
Bhosale Nagar                                        2
Sector No-4 Moshi                                    2
Bhukum                                               2
Shikrapur                                            2
Sasane Nagar                                         2
Bibwewadi                                            2
Sangamvadi                                           2
Sai Nagar                                            2
Rajgurunagar                                         2
Bhandarkar Road                                      2
Balewadi Phata                                       2
Shivaji Nagar                                        2
Mundhwa                                              2
Bakori                                               2
Nandel Fata                                          2
Balaji Nagar                                         2
Nanekarwadi                                          2
Dobarwadi                                            1
Aundh Gaon                                           1
Boat Club Road                                       1
Bijlinagar                                           1
Bibwewadi Kondhwa Road                               1
Fursungi                                             1
Gahunje                                              1
Ganesh Mala                                          1
Garmal                                               1
Ganga Nagar                                          1
Dhole Patil Road                                     1
Bhunde Vasti                                         1
Daund                                                1
Bhosari                                              1
Deccan Hills                                         1
Hanuman Nagar                                        1
Hingne Khurd                                         1
Bhim Nagar                                           1
Bopodi                                               1
Borhade Wadi                                         1
Dangat Patil Nagar                                   1
Bund Garden                                          1
Ashoka Nagar                                         1
Dange Chowk                                          1
Clover Park                                          1
Chitanya Nagar                                       1
Ashok Nagar                                          1
Bankar Vasti                                         1
Baramati                                             1
Bebadohal                                            1
Bekrai Nagar                                         1
Benkar Nagar                                         1
Eknath Pathare Vasti                                 1
Anthon Nagar                                         1
Anand Park Nagar                                     1
Datta nagar kiwale                                   1
Dhairy Goan Raikar Mala                              1
Dattanagar                                           1
Charholi Kurd                                        1
Bhatewara Nagar                                      1
Camp                                                 1
Fatima Nagar                                         1
Forest Trail Bhugaon                                 1
Badhan Nagar                                         1
phursungi bhekrai nagar                              1
Honda showroom near                                  1
ICS Colony                                           1
Shreehans Nagar                                      1
Shree Datta Colony                                   1
Shivtirth Nagar                                      1
Shivramnagar                                         1
Shivraj Nagar                                        1
Shivneri Nagar                                       1
Shivneri Colony                                      1
Shindewadi                                           1
Shikshaknagar                                        1
Shedge Vasti                                         1
Shankar Nagar                                        1
Sector-6 Moshi                                       1
Sathe Vasti Lohegaon                                 1
Sathe Nagar                                          1
Satav Nagar                                          1
Satar Nagar                                          1
Saswad                                               1
Sasane Colony                                        1
Sanghvi                                              1
Sanewadi                                             1
Sanaswadi                                            1
Siddharth Nagar                                      1
Somatane                                             1
Somnath Nagar                                        1
Uttareshwar Nagar                                    1
bibwewadi pune                                       1
band garden road                                     1
ZAGADE WASTI                                         1
Yewalewadi                                           1
Wireless Colony                                      1
Vishnupuram Colony                                   1
Vikas Nagar                                          1
Vadgaon Budruk                                       1
Vadgaon                                              1
Uruli Kanchan Irrigation Colony Near Pune Solapur    1
Sudarshan Nagar                                      1
Unnati Dham                                          1
Ubale Nagar                                          1
Tukai Nagar                                          1
Tinhewadi Road                                       1
Tilekar Nagar                                        1
Tamhini Ghat                                         1
Talawade                                             1
Swaraj Nagari                                        1
Swar Gate                                            1
Sanas Nagar                                          1
Sai Nagar Park                                       1
Sadhu Vaswani Nagar                                  1
Kasar Amboli                                         1
Mahadev Nagar Manjari Bk                             1
Mahadev Nagar                                        1
Law College Road                                     1
Koregaon Park Annexe                                 1
Koregaon Mul                                         1
Kharalwadi                                           1
Khadki Bazar                                         1
Khadki                                               1
Kasarwadi                                            1
Karve Road                                           1
Malinagar                                            1
Karanjawane Wasti                                    1
Kamshet                                              1
Kalyani Nagar Annexe                                 1
Kalewadi                                             1
Kad Nagar                                            1
Jyotiba Colony                                       1
Jijai Nagar                                          1
Jambhul                                              1
Indira Nagar                                         1
Mahalunge Ingale                                     1
Mallik Nagar                                         1
Sadashiv Peth                                        1
Pandhare Wasti                                       1
Renuka Nagar                                         1
Rasta Peth                                           1
Ramkrishna Paramhans Nagar                           1
Ram Nagar                                            1
Raghav Nagar                                         1
Paud Road                                            1
Paud Gaon                                            1
Parvati Gaon                                         1
Paranjape Blue Ridge                                 1
Panchawati                                           1
Manjari                                              1
North Hadapsar                                       1
Nighoje                                              1
Nehru Nagar                                          1
Nana Peth                                            1
Nageshwar Nagar                                      1
Mohan Nagar                                          1
Midc Baramati                                        1
Medankarwadi                                         1
chinchwad                                            1
Abasaheb Raikar Nagar                                1
Name: ADDRESS, dtype: int64

In [23]:
df1.ADDRESS = df1.ADDRESS.apply(lambda x : 'other' if x in location_stats_less_than_10 else x)
df1['ADDRESS'].nunique()

C:\Users\Henil\anaconda3\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

45

In [24]:
df1[df1['SQUARE_FT']/df1['BHK_NO.'] < 300].head()
df1[df1['SQUARE_FT']/df1['BHK_NO.'] < 300].shape

     UNDER_CONSTRUCTION  RERA  BHK_NO.   SQUARE_FT  READY_TO_MOVE  RESALE    ADDRESS  TARGET(PRICE_IN_LACS)
28                    1     1        2  530.237891              0       0  Tathawade                   55.5
63                    1     1        2  345.276221              0       0      Ravet                   34.5
90                    1     1        3  832.208727              0       0  Hinjewadi                   74.0
170                   0     0        3  700.000000              1       1      other                   42.0
174                   1     0        2  581.222057              0       1      other                   39.0

(34, 8)

In [25]:
df2 = df1.copy()
df2['price_per_sqft'] = df2['TARGET(PRICE_IN_LACS)']*100000/df2['SQUARE_FT']

In [26]:
def remove_pps_outliers(df):
    df_out = pd.DataFrame()
    for key, subdf in df.groupby('ADDRESS'):
        m = np.mean(subdf.price_per_sqft)
        st = np.std(subdf.price_per_sqft)
        reduced_df = subdf[(subdf.price_per_sqft>(m-st)) & (subdf.price_per_sqft<=(m+st))]
        df_out = pd.concat([df_out,reduced_df],ignore_index=True)
    return df_out
df3 = remove_pps_outliers(df2)
df3.shape

(1468, 9)

In [27]:
df4 = df3.drop('price_per_sqft',axis=1)
df4.head(3)

   UNDER_CONSTRUCTION  RERA  BHK_NO.    SQUARE_FT  READY_TO_MOVE  RESALE ADDRESS  TARGET(PRICE_IN_LACS)
0                   0     0        2   960.052968              1       1   Aundh                   87.0
1                   0     0        4  4700.229789              1       1   Aundh                  450.0
2                   0     0        2  1000.000000              1       1   Aundh                   87.0

In [28]:
dummies = pd.get_dummies(df4.ADDRESS)
dummies.head()

   Aundh  Balewadi  Baner  Baner Pashan Link Road  Bavdhan  Chakan  Chikhali  Chinchwad  Dhanori  Dhayari  Eon Free Zone  Hadapsar  Hinjewadi  Kalyani Nagar  Kaspate Vasti  Keshav Nagar  Kharadi  Kondhwa  Koregaon Park  Kothrud  Lohegaon  Magarpatta  Mahalunge  Mohamadwadi  Moshi  NIBM  Narhe  Pashan  Pimple Nilakh  Pimple Saudagar  Pisoli  Punawale  Rahatani  Ravet  Shankar Kalat Nagar  Sinhgad Road  Sus  Tathawade  Undri  Viman Nagar  Wagholi  Wakad  Wanowrie  Wanwadi  other
0      1         0      0                       0        0       0         0          0        0        0              0         0          0              0              0             0        0        0              0        0         0           0          0            0      0     0      0       0              0                0       0         0         0      0                    0             0    0          0      0            0        0      0         0        0      0
1      1         0      0                       0        0       0         0          0        0        0              0         0          0              0              0             0        0        0              0        0         0           0          0            0      0     0      0       0              0                0       0         0         0      0                    0             0    0          0      0            0        0      0         0        0      0
2      1         0      0                       0        0       0         0          0        0        0              0         0          0              0              0             0        0        0              0        0         0           0          0            0      0     0      0       0              0                0       0         0         0      0                    0             0    0          0      0            0        0      0         0        0      0
3      1         0      0                       0        0       0         0          0        0        0              0         0          0              0              0             0        0        0              0        0         0           0          0            0      0     0      0       0              0                0       0         0         0      0                    0             0    0          0      0            0        0      0         0        0      0
4      1         0      0                       0        0       0         0          0        0        0              0         0          0              0              0             0        0        0              0        0         0           0          0            0      0     0      0       0              0                0       0         0         0      0                    0             0    0          0      0            0        0      0         0        0      0

In [29]:
df6 = pd.concat([df4,dummies.drop('other',axis=1)],axis=1) 
df6.head()

   UNDER_CONSTRUCTION  RERA  BHK_NO.    SQUARE_FT  READY_TO_MOVE  RESALE ADDRESS  TARGET(PRICE_IN_LACS)  Aundh  Balewadi  Baner  Baner Pashan Link Road  Bavdhan  Chakan  Chikhali  Chinchwad  Dhanori  Dhayari  Eon Free Zone  Hadapsar  Hinjewadi  Kalyani Nagar  Kaspate Vasti  Keshav Nagar  Kharadi  Kondhwa  Koregaon Park  Kothrud  Lohegaon  Magarpatta  Mahalunge  Mohamadwadi  Moshi  NIBM  Narhe  Pashan  Pimple Nilakh  Pimple Saudagar  Pisoli  Punawale  Rahatani  Ravet  Shankar Kalat Nagar  Sinhgad Road  Sus  Tathawade  Undri  Viman Nagar  Wagholi  Wakad  Wanowrie  Wanwadi
0                   0     0        2   960.052968              1       1   Aundh                   87.0      1         0      0                       0        0       0         0          0        0        0              0         0          0              0              0             0        0        0              0        0         0           0          0            0      0     0      0       0              0                0       0         0         0      0                    0             0    0          0      0            0        0      0         0        0
1                   0     0        4  4700.229789              1       1   Aundh                  450.0      1         0      0                       0        0       0         0          0        0        0              0         0          0              0              0             0        0        0              0        0         0           0          0            0      0     0      0       0              0                0       0         0         0      0                    0             0    0          0      0            0        0      0         0        0
2                   0     0        2  1000.000000              1       1   Aundh                   87.0      1         0      0                       0        0       0         0          0        0        0              0         0          0              0              0             0        0        0              0        0         0           0          0            0      0     0      0       0              0                0       0         0         0      0                    0             0    0          0      0            0        0      0         0        0
3                   0     0        1   565.035597              1       1   Aundh                   50.0      1         0      0                       0        0       0         0          0        0        0              0         0          0              0              0             0        0        0              0        0         0           0          0            0      0     0      0       0              0                0       0         0         0      0                    0             0    0          0      0            0        0      0         0        0
4                   0     0        2  1057.082452              1       1   Aundh                   85.0      1         0      0                       0        0       0         0          0        0        0              0         0          0              0              0             0        0        0              0        0         0           0          0            0      0     0      0       0              0                0       0         0         0      0                    0             0    0          0      0            0        0      0         0        0

In [30]:
df7 = df6.drop('ADDRESS',axis=1)
df7.head()

   UNDER_CONSTRUCTION  RERA  BHK_NO.    SQUARE_FT  READY_TO_MOVE  RESALE  TARGET(PRICE_IN_LACS)  Aundh  Balewadi  Baner  Baner Pashan Link Road  Bavdhan  Chakan  Chikhali  Chinchwad  Dhanori  Dhayari  Eon Free Zone  Hadapsar  Hinjewadi  Kalyani Nagar  Kaspate Vasti  Keshav Nagar  Kharadi  Kondhwa  Koregaon Park  Kothrud  Lohegaon  Magarpatta  Mahalunge  Mohamadwadi  Moshi  NIBM  Narhe  Pashan  Pimple Nilakh  Pimple Saudagar  Pisoli  Punawale  Rahatani  Ravet  Shankar Kalat Nagar  Sinhgad Road  Sus  Tathawade  Undri  Viman Nagar  Wagholi  Wakad  Wanowrie  Wanwadi
0                   0     0        2   960.052968              1       1                   87.0      1         0      0                       0        0       0         0          0        0        0              0         0          0              0              0             0        0        0              0        0         0           0          0            0      0     0      0       0              0                0       0         0         0      0                    0             0    0          0      0            0        0      0         0        0
1                   0     0        4  4700.229789              1       1                  450.0      1         0      0                       0        0       0         0          0        0        0              0         0          0              0              0             0        0        0              0        0         0           0          0            0      0     0      0       0              0                0       0         0         0      0                    0             0    0          0      0            0        0      0         0        0
2                   0     0        2  1000.000000              1       1                   87.0      1         0      0                       0        0       0         0          0        0        0              0         0          0              0              0             0        0        0              0        0         0           0          0            0      0     0      0       0              0                0       0         0         0      0                    0             0    0          0      0            0        0      0         0        0
3                   0     0        1   565.035597              1       1                   50.0      1         0      0                       0        0       0         0          0        0        0              0         0          0              0              0             0        0        0              0        0         0           0          0            0      0     0      0       0              0                0       0         0         0      0                    0             0    0          0      0            0        0      0         0        0
4                   0     0        2  1057.082452              1       1                   85.0      1         0      0                       0        0       0         0          0        0        0              0         0          0              0              0             0        0        0              0        0         0           0          0            0      0     0      0       0              0                0       0         0         0      0                    0             0    0          0      0            0        0      0         0        0

In [31]:
df7.shape

(1468, 51)

In [32]:
target = 'TARGET(PRICE_IN_LACS)'

features = [col for col in df7.columns if col not in ([target])]

X = df7[features]
y = df7[target]
trn, val = train_test_split(df7, test_size = 0.2, random_state = 7)

##### Input for model
X_trn, X_val = trn[features], val[features]

##### Target column
y_trn, y_val = trn[target], val[target]

In [33]:
lr = LinearRegression()
lr.fit(X_trn,y_trn)
y_pred = lr.predict(X_val)
print('Root Mean Squared Error :',np.sqrt(mean_squared_error(y_val,y_pred)))
print('R2 Score:',r2_score(y_val,y_pred))
lr.score(X_val,y_val)

LinearRegression()

Root Mean Squared Error : 14.95987132946657
R2 Score: 0.9148667331996202

0.9148667331996202

In [34]:
from sklearn.model_selection import ShuffleSplit

In [35]:
cv = ShuffleSplit(n_splits = 5, test_size = 0.2, random_state = 0)
cross_val_score (LinearRegression(), X,y , cv =cv)

array([0.92021805, 0.91695522, 0.89255494, 0.92265614, 0.92219045])

In [36]:
rf = RandomForestRegressor(random_state = 1999, n_jobs = -1,n_estimators = 500)

rf.fit(X_trn, y_trn)
preds = rf.predict(X_val)
preds = np.abs(preds)

error2 = np.sqrt(mean_squared_error(y_val,preds))
print(f'Root mean_squared_error is : {error2}')
print('R2 Score:',r2_score(y_val,preds))

RandomForestRegressor(n_estimators=500, n_jobs=-1, random_state=1999)

Root mean_squared_error is : 18.02092741993701
R2 Score: 0.8764627704678329

In [37]:
cv = ShuffleSplit(n_splits = 5, test_size = 0.2, random_state = 0)
cross_val_score(rf, X,y , cv =cv)

array([0.89521509, 0.89931993, 0.90611676, 0.90529756, 0.90067866])

In [38]:
cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
rfc = RandomForestRegressor(random_state=7)
param_grid = { 
'n_estimators': [100,200,300,400,500],
'max_features': ['auto', 'sqrt', 'log2'],
'max_depth' : [4,5,6,7,8]
}
grid_search_model = GridSearchCV(rfc, param_grid=param_grid,cv =cv)
grid_search_model.fit(X_trn, y_trn)

grid_search_model.best_params_

NameError: name 'GridSearchCV' is not defined

In [ ]:
grid_search_model.best_score_

In [ ]:
grd = grid_search_model.best_estimator_
preds = grd.predict(X_val)
preds = np.abs(preds)
error2 = np.sqrt(mean_squared_error(y_val,preds))
print(f'Root mean_squared_error is : {error2}')
print('R2 Score:',r2_score(y_val,preds))

In [41]:
def predict_price(location,underconstruction,rera,bhk,sqft,readytomove,resale):    
    loc_index = np.where(X.columns==location)[0][0]

    x = np.zeros(len(X.columns))
    x[0] = underconstruction
    x[1] = rera
    x[2] = bhk
    x[3] = sqft
    x[4] = readytomove
    x[5] = resale
    if loc_index >= 0:
        x[loc_index] = 1

    return rf_grd.predict([x])[0]

In [42]:
predict_price('Hinjewadi',1,0,2,500,0,0)

39.0781558604313

In [44]:
import pickle
with open('./models/pune_house_prices_model.pkl','wb') as f:
    pickle.dump(rf_grd,f)

In [ ]:
import pickle
pickle.dump(rf,open('./pune_house_prices_model.pkl','wb'))

In [42]:
import json
columns = {
    'data_columns' : [col.lower() for col in X.columns]
}
with open("./models/columns.json","w") as f:
    f.write(json.dumps(columns))

660

In [40]:
rf_grd = RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=8, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=7, verbose=0, warm_start=False)
rf_grd.fit(X_trn, y_trn)

RandomForestRegressor(max_depth=8, random_state=7)